<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="#" class="logo"><img src="assets/images/logo.png"></a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-5">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="" class="icon-nav"> <i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
                    <li><a routerLink="mynetworks" class="icon-nav"><i class="fa fa-users" aria-hidden="true"></i> <span>My Network</span></a></li>
                    <li><a routerLink="jobs" class="icon-nav"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>Jobs</span></a></li>
                    <li><a routerLink="message" class="icon-nav"><i class="fa fa-comments" aria-hidden="true"></i> <span>Messaging</span></a></li>
                    <li><a routerLink="notication" class="icon-nav"><i class="fa fa-bell" aria-hidden="true"></i> <span>Notications</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-nav icon-me" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> <span>Me<span class="caret"></span></span></a>
                        <ul class="dropdown-menu dropdown-me">
                            <li class="avatar-me">
                                <a href="#"><span class="avatar"><i class="fa fa-user" aria-hidden="true"></i></span> <span class="name"><h3>Alexander</h3> <span>View profile</span></span></a>
                            </li>
                            <li>
                                <ul>
                                    <h5 class="title">Account</h5>
                                    <li class="dropdown-me__item"><a href="#">Settings & Privacy</a></li>
                                    <li class="dropdown-me__item"><a href="#">Help Center</a></li>
                                    <li class="dropdown-me__item"><a href="#">Language</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <h5 class="title">Manage</h5>
                                    <li class="dropdown-me__item"><a href="#">Posts & Activity</a></li>
                                    <li class="dropdown-me__item"><a href="#">Job postings</a></li>
                                </ul>
                            </li>
                            <li class="sign-out"><a href="#">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-3">
                <a><img src="assets/images/right-nav.png" alt=""></a>
            </div>
        </div>
    </div>
</nav>